#slides {
width:100px;
height:100px; 
padding:4px;
margin:1px;  
}

.slide {
    position: absolute;
    width: 400px;
    height: 400px;
 


}

.showing {
    opacity:5;
    z-index: 1;
}

.slide {
    font-size: 10px;
    padding: 0px;
	margin-top:0px;
}
img{
width:600px;
 height:400px;
 border-color:green;
 
}


